@use '@angular/material' as mat;

:host {
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-actions {
    margin-left: auto;
}

.form-title {
    margin-bottom: 16px;
    font-size: 14px;
}

mat-label {
    font-size: 12px;
}

mat-form-field {
    @include mat.all-component-densities(-4);
}