<app-navbar class="header"></app-navbar>
<!-- progress of tasks -->
<div class="content">
  <h3>Tasks</h3>
  <div class="tasks-list">
    <button class="new-task-btn" nz-button nzType="default">
      <span nz-icon nzType="plus-square" nzTheme="outline"></span>
      <span class="btn-text">Create new task</span>
    </button>
    @for (task of tasks(); track task.title) {
      <div class="task-container">
        <div class="task-body">
          <label nz-checkbox (nzCheckedChange)="completeTask(task)">{{task.title}}</label>
        </div>
        <div class="task-footer">
          
        </div>
      </div>
    }
  </div>
</div>
<!-- 
<app-new-task-collapsable class="footer" (taskCreated)="createTask($event)"></app-new-task-collapsable> -->
