:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.tasks-view-container {
    display: block;
    padding: 16px;
    flex-grow: 1;
}

app-new-task {
    border-top: 1px solid grey;
    padding: 16px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
}

.tasks-count-container {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
}

.pill {
    background-color: rgb(80, 150, 255);
    font-size: 12px;
    color: white;
    margin-left: 5px;
    padding: 3px 5px;
    border-radius: 50px;
}

.pill-text {
    font-weight: 500;
    color: #a2a2a2;
}
