<app-navbar class="header"></app-navbar>
<!-- progress of tasks -->
<div class="content">
  <h3>Tasks</h3>
  <div class="tasks-list">
    <button class="new-task-btn" nz-button nzType="default" (click)="showCreateTaskForm()">
      <span class="btn-icon" nz-icon nzType="plus-square" nzTheme="outline"></span>
      <span class="btn-text">Create new task</span>
    </button>
    @for (task of tasksService.tasks(); track task.id) {
      <div class="task-container">
        <label nz-checkbox (nzCheckedChange)="completeTask(task)">{{task.title}}</label>
      </div>
    }
  </div>
</div>
