@import 'variables';

:host {
    align-items: center;
    display: flex;
    padding: 16px;
    background-color: $secondary-color;
    box-shadow: 1px 1px 3px 0 #00000025;

    h1 {
        margin: 0;
        font-size: 20px;
        color: $font-primary;
    }
}

nav {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-left: auto;
    gap: 8px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
        padding: 4px;
        color: $font-primary;
        opacity: 0.5;

        [nz-icon] {
            margin: 0;
            font-size: 24px;
            height: 24px;
            width: 24px;
            margin-right: 4px;
        }

        .nav-label {
            margin: 0;
            font-size: 14px;
        }
    }

    .active-link {
        border-bottom: 1px solid $font-primary;
        opacity: 1;
    }
}
