<nav>
    <a mat-button routerLink="/tasks" routerLinkActive="active-link">
        <mat-icon>check_circle_outline</mat-icon>
        <span class="nav-label">Tasks</span>
    </a>
    <a mat-button routerLink="/notes" routerLinkActive="active-link">
        <mat-icon>library_books</mat-icon>
        <span class="nav-label">Notes</span>
    </a>
    <a mat-button routerLink="/focus-mode" routerLinkActive="active-link">
        <mat-icon>psychology_alt</mat-icon>
        <span class="nav-label">Focus</span>
    </a>
    <a mat-button routerLink="/settings" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon>
        <span class="nav-label">Settings</span>
    </a>
</nav>
    