@import 'variables';

:host {
    align-items: center;
    display: flex;
    padding: 16px;
    background-color: $secondary-color;

    h1 {
        margin: 0;
        font-size: 20px;
    }
}

nav {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-left: auto;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
        line-height: 24px;

        [nz-icon] {
            margin: 0;
            font-size: 24px;
            height: 24px;
            width: 24px;
            margin-right: 4px;
        }

        .nav-label {
            margin: 0;
            font-size: 10px;
        }
    }

    // .active-link {
    //     // background-color: rgb(180, 222, 250);
    // }
}
