<div class="body-section">
  <form class="new-task-form" [formGroup]="taskForm">

    <input #titleInput autofocus formControlName="title" placeholder="New task title" (keyup.enter)="createTask()" />
    <textarea class="description-input" formControlName="description" [nzAutosize]="{ minRows: 1, maxRows: 8 }" placeholder="Add short description..."></textarea>

    <nz-date-picker nzPlaceHolder="Due to"></nz-date-picker>
  </form>
</div>
<div class="footer-section">
  <button nz-button nzType="default" (click)="resetForm()">Reset</button>
  <button nz-button nzType="primary" type="button" (click)="createTask()">
    <span nz-icon nzType="plus"></span>
    Create
  </button>
</div>


